<label>
    write something
    <input #searchInput type="search" class="input">
</label>

<button class="button is-primary" (click)=search(searchInput.value)>search</button>
<p style="height: 15px"></p>
<form>
    <label>
        {{ searchQuery }}
        <input name="searchQuery" [(ngModel)]="searchQuery" type="search" class="input">
    </label>

    <button class="button is-primary" (click)=search2()>search</button>
</form>
<!--
EMMET:
nav.menu>ul>li*5>lorem2

kliknij TAB

dostaniesz
<nav class="menu">
    <ul>
        <li>Lorem ipsum.</li>
        <li>Iusto, modi.</li>
        <li>Aut, doloremque.</li>
        <li>Culpa, excepturi.</li>
        <li>Quas, veniam!</li>
    </ul>
</nav>
-->
