<form>
    <label style="margin-top: 10px">
        {{ searchQuery }}
        <input name="searchQuery" [(ngModel)]="searchQuery"
               #queryRef="ngModel"
               type="search"
               class="input"
               required
               minlength="4"
        >
    </label>
    <div>
        <ul>
            <li>
                {{ queryRef.errors | json }}
            </li>
            <li>
                {{ queryRef.invalid | json }}
            </li>
        </ul>
    </div>


    <button class="button is-primary" [disabled]="queryRef.invalid" type="submit" (click)=search()>search</button>
</form>
<!--
EMMET:
nav.menu>ul>li*5>lorem2

kliknij TAB

dostaniesz
<nav class="menu">
    <ul>
        <li>Lorem ipsum.</li>
        <li>Iusto, modi.</li>
        <li>Aut, doloremque.</li>
        <li>Culpa, excepturi.</li>
        <li>Quas, veniam!</li>
    </ul>
</nav>
-->
