<form>
    <label style="margin-top: 10px">
        {{ searchQuery }}
        <input name="searchQuery" [(ngModel)]="searchQuery"
               #queryRef="ngModel"
               type="search"
               class="input"
               required
               minlength="4"
        >
    </label>

    <button class="button is-primary" [disabled]="queryRef.invalid" type="submit" (click)=search()>search</button>
</form>

<p class="subtitle">search results</p>
<div class="columns is-multiline">
    <st-show *ngFor="let show of shows$ | async" [show]="show" class="column is-one-quarter">
        tu można wstawić kręcioła
    </st-show>
</div>

<h2 class="subtitle">Results: {{ timer$ | async}}</h2>

<!--<pre>{{ shows | json }}</pre>-->
<!--
EMMET:
nav.menu>ul>li*5>lorem2

kliknij TAB i dostaniesz

<nav class="menu">
    <ul>
        <li>Lorem ipsum.</li>
        <li>Iusto, modi.</li>
        <li>Aut, doloremque.</li>
        <li>Culpa, excepturi.</li>
        <li>Quas, veniam!</li>
    </ul>
</nav>
-->
